<%= form_with(model: category, class: 'form-control') do |form| %>
  <% if category.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, "Category Name", class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control', placeholder: 'Enter name of category..' %>
  </div>

  <div class="mb-3">
    <%= form.label :icon, "Select an Icon", class: 'form-label' %>
    <div class="icon-tiles d-flex flex-wrap gap-3" style="max-height: 150px; overflow-y: auto;">
      <% [["Food", "feeding.webp"], ["Travel", "transportation.webp"], ["Housing", "housing.webp"], ["Health", "healthcare.webp"], ["Education", "education.webp"], ["Entertainment", "entertainment.webp"], ["Clothing", "clothing.webp"], ["Saving", "savings.webp"], ["Other", "miscellaneous.webp"]].each do |icon_data| %>
        <label class="text-center icon-label">
          <%= radio_button_tag "category[icon]", icon_data[1], false, id: icon_data[1], class: 'd-none icon-radio' %>
          <%= image_tag(image_path(icon_data[1]), alt: icon_data[0], style: "max-width: 50px; max-height: 50px;", class: 'img-fluid icon-img') %>
        </label>
      <% end %>
    </div>
  </div>

  <div class="btn-container text-center mt-4">
    <%= form.submit "Add Category", class: 'btn btn-primary btn-block' %>
  </div>
<% end %>

<style>
  .icon-radio:checked + .icon-img {
    border: 2px solid brown;

  }
</style>
